header{
		     background-color:aqua;
			 color: DarkBlue;
			 text-align: center;
			 font-family: Courier New;
			 padding:10px;
		  }
		  body{
			margin:0;
			}
		  ul {
               list-style-type: none;
               margin: 0;
               padding: 0;
               overflow: hidden;
               background-color: #333;
          }

        li {
            float: left;
         }

        li a {
                display: block;
                color: Aqua;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
         }

        li a:hover {
                     background-color: #FFFFE0;
         }
        </style>
        </head>
        <body>